@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Josefin+Sans:wght@100&family=Manrope:wght@200&display=swap');

$svgBg:#E8EBF1;
$fontClr:#272D4E;
$textClr:#94A2B3;
$btnClr:#0C1B61;
$contact:#3C3C3C;
$name:#333333;
$address:#666666;
$owner:#0E243A;
$aboutBg:#FBFCFC;
$headingFont:'Manrope';
$buttonFont:'DM Sans', sans-serif;