@import '../../assests/variable/Variable';

.fractional {
    height: 100vh;
    .fractional_container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 13px;
        margin: 0 auto;
        max-width: 1280px;
        .images {
            position: relative;
            align-self: start;
    padding-top: 12px;
            .img1 {

                img {
                    width: 492px;
                    height: 364px;
                    border-radius: 10px;
                
            }
        }
            .img2 {
                position: absolute;
                top: 265px;
                right: 32px;
            
                img {
                    width: 410px;
                    border-radius: 10px

                }
            }
            }

        .right-content {

           .guide{
            line-height: 30px;

            h4 {
             color: $fontClr;
             font-family: $headingFont;
             font-style: normal;
             font-weight: 600;
             font-size: 40px;
             line-height: 55px;
            }

            p {
           color: $textClr;
           font-family: $headingFont;
           font-style: normal;
           font-weight: 700;
           font-size: 16px;
           line-height: 51.2px;
           letter-spacing: 0.02em;
            }
        }

            .user_info {
                background: white;
                box-shadow: 0px 20px 30px rgba(14, 36, 58, 0.1);
                border-radius: 10px;
                display: flex;
                align-items: center;
                padding: 10px 23px;
                width: 527.07px;
                height: 155px;
                margin-top: 35px;
                .for_svg {
                    background: #E8EBF1;
                    padding: 4px 11px;
                    border-radius: 5px;
                    display: flex;
                    align-items: end;
                    svg {
                       width: 20px;
                    }
                }

                .text {
                    line-height: 19px;
                    flex: auto;
                    margin-left: 23px;
                    h6 {
                       color: $owner;
                       font-style: normal;
                       font-weight: 600;
                       font-size: 20px;
                       line-height: 27px;
                       font-family: $headingFont;
                       height: 27px;
                    }
                    p {
                        color: $textClr;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 19px;
                        width: 183px;
                        height: 19px;
                        font-family: $headingFont;
                    }
                }
                .for_svg2 {
                    background: $svgBg;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                
                    svg {
                        width: 18px;
                    }
                }
            }
        }
    }
}